{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-view-country-%s-in-call-%s")|format(callCountry.country,callCountry.call)) %}

<h1 class="display-4">{{ translate("txt-view-country-%s-in-call-%s")|format(callCountry.country,callCountry.call) }} {{ callCountryLink(callCountry,'edit-admin', 'button') }}</h1>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-call") }}</dt>
    <dd>{{ callLink(callCountry.call,'view-admin','name') }}</dd>
    <dt>{{ translate("txt-country") }}</dt>
    <dd>{{ countryLink(callCountry.country,'view-admin','name') }}</dd>
    <dt>{{ translate("txt-date-national-application") }}</dt>
    <dd>{{ callCountry.dateNationalApplication|default('-') }}</dd>
    <dt>{{ translate("txt-date-expected-funding-decision") }}</dt>
    <dd>{{ callCountry.dateExpectedFundingDecision|default('-') }}</dd>
</dl>