<h3>{{ translate("txt-call-information") }}</h3>
<dl class="project dl-horizontal">
    <dt>{{ translate("txt-projects") }}</dt>
    <dd>{{ projects }}</dd>
    <dt>{{ translate("txt-partners") }}</dt>
    <dd>{{ partners }}</dd>
    <dt>{{ translate("txt-national-funding") }}</dt>
    <dd>{{ (funding_national/1000000)|number_format(2, '.', ',') }} M Euro</dd>
    <dt>{{ translate("txt-eu-funding") }}</dt>
    <dd>{{ (funding_eu/1000000)|number_format(2, '.', ',') }} M Euro</dd>
</dl>
