{% do headTitle().append(translate("txt-session")) %}
{% do headTitle().append(session.session) %}

<h1>{{ session.session }}</h1>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-name") }}</dt>
    <dd>{{ session.session }}</dd>
    <dt>{{ translate("txt-date") }}</dt>
    <dd>{{ session.date|string_date }}</dd>
    <dt>{{ translate("txt-program-call") }}</dt>
    <dd>{{ session.call }}</dd>
</dl>

<h2 class="pitch-overview">{{ translate("txt-presentations") }}</h2>
<table class="table table-hover table-striped table-condensed">
    <thead>
    <tr>
        <th>{{ translate("txt-time") }}</th>
        <th>{{ translate("txt-idea") }}</th>
        <th>{{ translate("txt-title") }}</th>
        <th>{{ translate("txt-presenter") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for ideaSession in session.ideaSession %}
        <tr>
            <td>{{ ideaSession.schedule }}</td>
            <td>{{ ideaLink(ideaSession.idea,'view','name') }}
                {% if session.id in [37,40] %}
                    {% for document in ideaSession.idea.document if 'pitch' in document.document and document.contentType.id == 1 %}
                        {{ ideaDocumentLink(document,'download','icon') }}
                    {% endfor %}
                {% endif %}
                {% if session.id in [43] %}
                    {% for document in ideaSession.idea.document if 'day1' in document.document and document.contentType.id == 1 %}
                        {{ ideaDocumentLink(document,'download','icon') }}
                    {% endfor %}
                {% endif %}
                {% if session.id in [46] %}
                    {% for document in ideaSession.idea.document if 'day2' in document.document and document.contentType.id == 1 %}
                        {{ ideaDocumentLink(document,'download','icon') }}
                    {% endfor %}
                {% endif %}
            </td>
            <td>{{ ideaSession.idea.title }}</td>
            <td>{{ ideaSession.idea.contact.displayName() }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
