{% do headTitle().append(translate("txt-session")) %}
{% do headTitle().append(session.session) %}

<h1>{{ session.session }}</h1>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-name") }}</dt>
    <dd>{{ session.session }}</dd>
    <dt>{{ translate("txt-date") }}</dt>
    <dd>{{ session.date|string_date }}</dd>
    <dt>{{ translate("txt-program-call") }}</dt>
    <dd>{{ session.call }}</dd>
</dl>

<h2>{{ translate("txt-presentations") }}</h2>

<table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
        <th>{{ translate("txt-time") }}</th>
        <th>{{ translate("txt-number") }}</th>
        <th>{{ translate("txt-idea") }}</th>
        <th>{{ translate("txt-title") }}</th>
        <th>{{ translate("txt-presenter") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for ideaSession in session.ideaSession %}
        {% set ideaService = ideaServiceProxy(ideaSession.idea) %}
        <tr>
            <td>{{ ideaSession.schedule }}</td>
            <td>{{ ideaService.idea.number }}</td>
            <td>{{ ideaLink(ideaService,'view','name') }}</td>
            <td>{{ ideaService.idea.title }}</td>
            <td>{{ ideaService.idea.contact.displayName() }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
