<h1>{{ translate("txt-area-title-%s")|format(area) }}</h1>
<p class="lead">{{ translate("txt-area-explanation") }} {{ areaLink(area,'edit','button') }}</p>
<ul class="thumbnails">
    {% for equipment in area.equipment %}
        {% if equipment.status is not constant("\\Equipment\\Entity\\Equipment::STATUS_INACTIVE") %}
            <li class="span2">
                {% for module in equipment.modules %}
                    {% if module.role is constant("Equipment\\Entity\\Module::ROLE_MAIN_TOOL") %}
                        <div class="thumbnail">
                            <div style="height: 80px;" class="{{ module.MESStatus }}">
                                <br>

                                <h2 class="thumbnailHeader">
                                    {{ equipmentLink(module.equipment, 'view', 'MESName') }}
                                    {{ moduleSubState(module) }}
                                </h2>
                            </div>
                            <p class="muted">
                                {{ translate("txt-status") }}: {{ module.MESStatus }}
                                {{ translate("txt-tef") }}: {{ module.TEFFactor }}
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
