{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-unapproved-nda")) %}


{% do headLink().appendStylesheet(
    '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css'
    ) %}


<h1>{{ translate("txt-unapproved-nda") }}</h1>

{% if nda|length > 0 %}


    {% do form.prepare() %}
{{ form().openTag(form)|raw }}

    <label>
        {{ formelement(form.get('sendMail')) }}
        {{ translate("txt-send-email-on-approval") }}
    </label>

    <table class="table table-striped table-sm table-hover">
        <thead>
        <tr>
            <th>{{ translate("txt-contact") }}</th>
            <th>{{ translate("txt-organisation") }}</th>
            <th>{{ translate("txt-type") }}</th>
            <th>{{ translate("txt-content-type") }}</th>
            <th>{{ translate("txt-date-signed") }}</th>
            <th>{{ translate("txt-approve") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for nda in nda %}
            <tr id="nda-{{ nda.id }}">
                <td>{{ contactLink(nda.contact,'view-admin','name') }}
                    <div class="pull-right">
                        {{ ndaLink(nda,'view-admin','icon') }} {{ ndaLink(nda,'edit-admin','icon') }} {{ ndaLink(nda,'download','icon') }}
                    </div>
                </td>
                <td>{{ nda.contact.contactOrganisation.organisation }}</td>
                <td>{{ nda.parseCall }}</td>
                <td>{{ contentTypeIcon(nda.contentType) }} {{ nda.contentType.description }} ({{ nda.size|parse_size }}
                    )
                </td>
                <td>{{ formElement(form.get('nda_' ~ nda.id).get('dateSigned')) }}</td>
                <td>
                    <button type="button" data-nda-id="{{ nda.id }}" class="btn btn-info approveButton">
                        {{ translate("txt-approve") }}</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ formelement(form.get('csrf')) }}
    {{ form().closeTag()|raw }}
{% else %}
    {{ ztbalert().info(translate("txt-no-nda-are-waiting-for-approval"))|raw }}
{% endif %}


<script type="text/javascript">

    $(document).on('click', '.approveButton', function (e) {

        e.preventDefault();

        var btn = $(this);
        btn.data('original-text', btn.html());
        btn.html('<i class="fa fa-circle-o-notch fa-spin"></i> loading...');

        //NdaId
        var ndaId = btn.data('nda-id');

        $.ajax({
            url: '{{ serverUrl() }}{{ url('zfcadmin/nda/approve') }}',
            type: 'post',
            dataType: 'json',
            data: {
                'nda': ndaId,
                'contact': $("#contact-" + ndaId).val(),
                'dateSigned': $("#dateSigned-" + ndaId).val(),
                'sendEmail': $("#send-mail-checkbox").prop("checked")
            },
            success: function (response) {
                if (response.result === 'success') {
                    btn.attr('class', 'btn btn-success');
                    btn.html('<i class="fa fa-check"></i> Approved');
                    $("#nda-" + ndaId).addClass('table-success');
                }

                if (response.result === 'error') {
                    btn.html(btn.data('original-text'));
                    alert(response.error);
                }
            },
            error: function (xhr) {
                alert('Error! Did you enable adblock? Status = ' + xhr.status);
            }
        });


    });


    $('input[type=date]').datepicker({
        sliderAccessArgs: {touchonly: false},
        dateFormat: 'yy-mm-dd'
    });
</script>
