{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-nda")) %}

{% do headLink().appendStylesheet(
'//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css'
) %}

<h1>{{ translate("txt-edit-nda") }}</h1>

{% do form.prepare() %}

    {{ form().openTag(form)|raw }}

    {% set ndaForm = form.get('program_entity_nda') %}

    {{ contactformelement(ndaForm.get('contact')) }}
    {{ ztbformelement(ndaForm.get('dateSigned')) }}
    {{ ztbformelement(ndaForm.get('dateApproved')) }}
    {{ ztbformelement(ndaForm.get('programCall')) }}

{% if not nda.object.isEmpty() %}
    <div class="form-group">
        <label class="col-sm-3 control-label">{{ translate("txt-download-current-nda") }}</label>

        <div class="col-sm-9">
            <p class="form-control-static">{{ ndaLink(nda,'download','text') }}</p>
        </div>
    </div>
{% endif %}

{{ ztbformelement(ndaForm.get('file')) }}

<hr>


<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
        {{ ztbformelement(form.get('delete')) }}
    </div>
</div>

{{ form().closeTag()|raw }}


<script type="text/javascript">
    $('input[type=date]').datepicker({
        sliderAccessArgs: {touchonly: false},
        dateFormat: 'yy-mm-dd'
    });
</script>
