{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-upload-nda-title")) %}

<h1>{{ translate("txt-upload-nda-title") }}</h1>

{% do form.prepare() %}
    {{ form().openTag(form)|raw }}

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-contact") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ contact.displayName }}</p>
    </div>
</div>

{{ ztbformelement(form.get('call')) }}
{{ ztbformelement(form.get('dateSigned')) }}
{{ ztbformelement(form.get('approve')) }}
{{ ztbformelement(form.get('file')) }}

{{ formelement(form.get('csrf')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ formelement(form.get('submit')) }}
        {{ formelement(form.get('cancel')) }}
    </div>
</div>

<h2>{{ translate("txt-render-nda-for-a-call") }}</h2>
<ul>
    <li>{{ ndaLink(null, 'render-admin', 'text', null, contact) }}</li>
    {% for call in calls %}
        <li>{{ ndaLink(null, 'render-admin', 'text', call, contact ) }}</li>
    {% endfor %}
</ul>

{{ form().closeTag()|raw }}
