{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-upload-nda-title")) %}

{% do headLink().appendStylesheet(
'//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css'
) %}

<h1 class="display-4">{{ translate("txt-upload-nda-title") }}</h1>
<p>{{ translate("txt-upload-nda-explanation") }}</p>


{% do form.prepare() %}
    {{ form().openTag(form)|raw }}

<div class="form-group row">
    <label class="col-md-3 form-control-label control-label">{{ translate("txt-contact") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ contact.displayName }}</p>
    </div>
</div>

{{ ztbformelement(form.get('call')) }}
{{ ztbformelement(form.get('dateSigned')) }}
{{ ztbformelement(form.get('approve')) }}
{{ ztbformelement(form.get('file')) }}

<div class="form-group row">
    <div class="offset-md-3 col-sm-offset-3 col-sm-9">
        {{ formelement(form.get('submit')) }}
        {{ formelement(form.get('cancel')) }}
    </div>
</div>

<h2>{{ translate("txt-render-nda-for-a-call") }}</h2>
<ul>
    <li>{{ ndaLink(null, 'render-admin', 'text', null, contact) }}</li>
    {% for call in calls %}
        <li>{{ ndaLink(null, 'render-admin', 'text', call, contact ) }}</li>
    {% endfor %}
</ul>


{{ form().closeTag()|raw }}


<script type="text/javascript">
    $('input[type=date]').datepicker({
        sliderAccessArgs: {touchonly: false},
        dateFormat: 'yy-mm-dd'
    });
</script>
