{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-nda")) %}

<h1 class="display-4">{{ translate("txt-nda-%s")|format(nda.parseFilename()) }}</h1>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-nda-id") }}</dt>
    <dd>{{ nda.id }}</dd>
    <dt>{{ translate("txt-contact") }}</dt>
    <dd>{{ contactLink(nda.contact, 'view-admin', 'name') }}</dd>
    <dt>{{ translate("txt-date-uploaded") }}</dt>
    <dd>{{ nda.dateCreated|string_date }}</dd>
    <dt>{{ translate("txt-date-signed") }}</dt>
    {% if nda.dateSigned %}
        <dd>{{ nda.dateSigned|string_date }}</dd>
    {% else %}
        <dd>{{ translate("txt-this-nda-has-not-been-signed") }}</dd>
    {% endif %}
    <dt>{{ translate("txt-date-approved") }}</dt>
    {% if nda.dateApproved %}
        <dd>{{ nda.dateApproved|string_date }}</dd>
    {% else %}
        <dd>{{ translate("txt-this-nda-has-not-been-approved") }}</dd>
    {% endif %}
    <dt>{{ translate("txt-program-call") }}</dt>
    {% if nda.hasCall %}
        <dd>{{ callLink(nda.parseCall(),'view-admin','name') }}</dd>
    {% else %}
        <dd>{{ translate("txt-this-nda-is-not-connected-to-a-call") }}</dd>
    {% endif %}
    {% if not nda.object.isEmpty() %}
        {% if nda.contentType %}
            <dt>{{ translate("txt-content-type") }}</dt>
            <dd>{{ contentTypeIcon(nda.contentType) }} {{ nda.contentType.description }} ({{ nda.size|parse_size }})
            </dd>
        {% endif %}
        <dt>{{ translate("txt-download") }}</dt>
        <dd>{{ ndaLink(nda,'download','text') }}</dd>
    {% else %}
        <dt>{{ translate("txt-download") }}</dt>
        <dd>{{ translate("txt-no-file-has-been-uploaded") }}</dd>
    {% endif %}
</dl>

{{ ndaLink(nda,'edit-admin','button') }}
