{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-call-%s")|format(call)) %}

<h1>{{ translate("txt-call-%s")|format(call) }} {{ callLink(call,'edit','button') }} {{ callLink(call,'size','button') }} {{ callLink(call, 'export-size', 'button') }}</h1>

<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" href="#general" aria-controls="general" role="tab" data-toggle="tab">
                {{ translate("txt-general") }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#projects" aria-controls="projects" role="tab" data-toggle="tab">
                {{ translate("txt-projects") }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#countries" aria-controls="countries" role="tab" data-toggle="tab">
                {{ translate("txt-countries") }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#sessions" aria-controls="sessions" role="tab" data-toggle="tab">
                {{ translate("txt-idea-sessions") }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#selections" aria-controls="selections" role="tab" data-toggle="tab">
                {{ translate("txt-call-selections") }}
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="general">
            {% include 'program/call-manager/tab/general' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="projects">
            {% include 'program/call-manager/tab/projects' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="countries">
            {% include 'program/call-manager/tab/countries' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="sessions">
            {% include 'program/call-manager/tab/sessions' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="selections">
            {% include 'program/call-manager/tab/selections' %}
        </div>
    </div>
</div>