{% do headTitle().append(translate("txt-upload-nda-title")) %}

{% if call %}
    <h1>{{ translate("txt-submit-non-disclosure-agreement-for-call-%s")|format(call) }}</h1>
{% else %}
    <h1>{{ translate("txt-submit-a-general-non-disclosure-agreement") }}</h1>
{% endif %}

{% if not nda %}
    <div class="alert alert-info">
        {% if call %}
            {{ translate("txt-submit-nda-introduction-meeting-%s-project-idea-tool-%s")|format(call.ideaTool.meeting,call.ideaTool) }}
        {% else %}
            {{ translate("txt-submit-nda-introduction-no-call") }}
        {% endif %}
    </div>

    <p>You can agree with the NDA, also on behalf of your organisation, in two different ways:</p>

    <ul>
        <li>Sign the PDF version and upload it below</li>
        <li>Sign the online version by ticking the box below</li>
    </ul>

    {% do form.prepare() %}
    {{ form().openTag(form)|raw }}

    <fieldset>
        <legend>{{ translate("txt-sign-and-upload-pdf-version") }}</legend>

        {{ ztbformelement(form.get('file')) }}

        <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                {{ ndaLink(nda, 'render', 'button', call ) }} {{ formelement(form.get('submit')) }}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>{{ translate("txt-sign-online-version") }}</legend>

        <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                <p>{{ translate("txt-please-read-the-text-below-before-signing-the-nda") }}</p>
                <div style="max-height: 400px; overflow-y: scroll; background-color: #f8f8f8; padding: 10px;">
                    {{ ndaContent|raw }}
                </div>
            </div>
        </div>

        <div class="form-group {% if form.get('selfApprove').getMessages() %}has-error{% endif %}">
            <div class="offset-sm-3 col-sm-9">
                <div class="checkbox">
                    <label>
                        {{ formelement(form.get('selfApprove')) }} {{ translate("txt-self-approve-nda-checkbox-help-text") }}
                    </label>
                </div>
                <p class="help-block">Signing the online NDA will be regarded as you binding
                    yourself as well as your organisation to the terms and conditions of the NDA</p>
            </div>
        </div>


        <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                {{ formelement(form.get('approve')) }}
            </div>
        </div>
    </fieldset>

    {{ formelement(form.get('csrf')) }}
    {{ form().closeTag()|raw }}

{% else %}

    {% if nda.dateApproved %}
        <div class="alert alert-block alert-success">
            <div class="alert-heading"><h4>{{ translate("txt-nda-already-approved") }}</h4></div>
            <p>{{ translate("txt-nda-for-call-%s-has-already-been-approved-on-%s")|format(
                    call, nda.dateApproved|date("d-m-Y")) }}</p>
        </div>
    {% else %}
        <div class="alert alert-block alert-warning">
            <div class="alert-heading"><h4>{{ translate("txt-nda-waiting-for-approval") }}</h4></div>
            <p>{{ translate("txt-nda-for-call-%s-has-already-been-submitted-on-%s-and-is-waiting-for-approval")|format(
                    call, nda.dateSigned|date("d-m-Y")) }}</p>
        </div>
    {% endif %}



    <p>{{ translate("txt-thank-you-for-signing-the-nda-by-signing-this-nda-you-have-agreed-to-the-following-conditions") }}</p>
    <div style="max-height: 400px; overflow-y: scroll; background-color: #f8f8f8; padding: 10px;">
        {{ ndaContent|raw }}
    </div>

    <hr>

    <dl class="dl-horizontal">
        {% if call %}
            <dt>{{ translate("txt-program-call") }}</dt>
            <dd>{{ call }}</dd>
        {% endif %}
        <dt>{{ translate("txt-signed-by") }}</dt>
        <dd>{{ nda.contact.displayName() }}</dd>
        {% if not nda.object.isEmpty() %}
            <dt>{{ translate("txt-download-nda") }}</dt>
            <dd>{{ ndaLink(nda,'download', 'text') }}</dd>
        {% endif %}
    </dl>

    {% if call.ideaTool %}
        <h4>{{ translate("txt-call-related-links") }}</h4>
        <p>{{ translate("txt-this-nda-gives-access-to-all-information-of") }}</p>
        <dl class="dl-horizontal">
            <dt>{{ translate("txt-event-page") }}</dt>
            <dd>{{ meetingLink(call.ideaTool.meeting,'view','meeting') }}</dd>
            <dt>{{ translate("txt-project-idea-tool") }}</dt>
            <dd>{{ ideaToolLink(call.ideaTool,'list-idea','name') }}</dd>
        </dl>

    {% endif %}


    {{ ndaLink(nda,'replace','button') }}

{% endif %}
