{% if call %}
    <h1>{{ translate("txt-submit-non-disclosure-agreement-for-call-%s")|format(call) }}</h1>
{% else %}
    <h1>{{ translate("txt-submit-a-general-non-disclosure-agreement") }}</h1>
{% endif %}

{% if not nda %}
    <div class="alert alert-block alert-info">
        <div class="alert-heading"><h4>Submit your Non-Disclosure-Agreement</h4></div>
        <ul>
            <li>Render the personalised Non-Disclosure-Agreement from this page;
            <li>Print the document;
            <li>Have the document signed by the authorised person in your organisation;
            <li>Scan the signed document;
            <li>Upload the scanned document on this page.
        </ul>
    </div>


    <h2>{{ translate("txt-upload-non-disclosure-agreement") }}</h2>

    {% do form.prepare() %}
    {{ form().openTag(form)|raw }}

    <div class="form-group">
        <label class="col-sm-3 control-label">{{ translate("txt-contact") }}</label>

        <div class="col-sm-9">
            <p class="form-control-static">{{ zfcUserIdentity().displayName }}</p>
        </div>
    </div>

    {% if call %}
        <div class="form-group">
            <label class="col-sm-3 control-label">{{ translate("txt-program-call") }}</label>

            <div class="col-sm-9">
                <p class="form-control-static">{{ callLink(call,'view-list', 'name') }}</p>
            </div>
        </div>
    {% endif %}

    {{ ztbformelement(form.get('file')) }}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ ndaLink(nda, 'render', 'button', call ) }} {{ formelement(form.get('submit')) }}
        </div>
    </div>


    {{ form().closeTag()|raw }}

{% else %}

    {% if nda.dateApproved %}
        <div class="alert alert-block alert-success">
            <div class="alert-heading"><h4>{{ translate("txt-nda-already-approved") }}</h4></div>
            <p>{{ translate("txt-nda-for-call-%s-has-already-been-approved-on-%s")|format(
                call, nda.dateApproved|date("d-m-Y")) }}</p>
        </div>
    {% else %}
        <div class="alert alert-block alert-warning">
            <div class="alert-heading"><h4>{{ translate("txt-nda-waiting-for-approval") }}</h4></div>
            <p>{{ translate("txt-nda-for-call-%s-has-already-been-submitted-on-%s-and-is-waiting-for-approval")|format(
                call, nda.dateSigned|date("d-m-Y")) }}</p>
        </div>
    {% endif %}

    <dl class="dl-horizontal">
        {% if call %}
            <dt>{{ translate("txt-program-call") }}</dt>
            <dd>{{ callLink(call,'view-list', 'name') }}</dd>
        {% endif %}
        <dt>{{ translate("txt-contact") }}</dt>
        <dd>{{ zfcUserIdentity().displayName() }}</dd>
        <dt>{{ translate("txt-download-nda") }}</dt>
        <dd>{{ ndaLink(nda,'download', 'text') }}</dd>
    </dl>

    {{ ndaLink(nda,'replace','button') }}

{% endif %}
