{% if nda.call %}
    <h1>{{ translate("txt-view-nda-(%s)-for-contact-%s-for-call-%s")|
        format(nda, nda.contact.displayName, nda.call)|raw }}</h1>

    <p class="lead">{{ translate("txt-view-nda-for-contact-%s-for-call-%s-explanation")|
        format(nda.contact.displayName, nda.call)|raw }}</p>
{% else %}
    <h1>{{ translate("txt-view-general-nda-(%s)-for-contact-%s")|
        format(nda, nda.contact.displayName)|raw }}</h1>

    <p class="lead">{{ translate("txt-view-general-nda-for-contact-%s")|
        format(nda.contact.displayName)|raw }}</p>
{% endif %}

{% if nda.dateApproved %}
    {{ ztbalert().success(translate("txt-nda-received-and-approved-on-%s")|format(nda.dateApproved|date("d-m-Y")))|raw }}
{% else %}
    {{ ztbalert().info(translate("txt-nda-received-on-%s-but-waiting-for-approval")|format(nda.dateCreated|date("d-m-Y")))|raw }}
{% endif %}

<dl class="dl-horizontal">
    <dt>{{ translate("txt-contact") }}</dt>
    <dd>{{ nda.contact.displayName }}</dd>
    {% if nda.call %}
        <dt>{{ translate("txt-program-call") }}</dt>
        <dd>{{ nda.call }}</dd>
    {% endif %}
    <dt>{{ translate("txt-download-current-nda") }}</dt>
    <dd>{{ NdaLink(nda,'download','text') }}</dd>
</dl>

{{ ndaLink(nda,'replace','button') }}
