{% do headTitle().append(translate("txt-replace-doa-for-organisation-%s-for-program-%s")|
format(doa.organisation, doa.program)) %}

<h1 class="display-4">{{ translate("txt-replace-doa-for-organisation-%s-for-program-%s")|
    format(doa.organisation, doa.program)|raw }}</h1>

<p class="lead">{{ translate("txt-replace-doa-for-organisation-%s-for-program-%s-explanation")|
    format(doa.organisation, doa.program)|raw }}</p>


{{ form().openTag(form)|raw }}

<div class="form-group row">
    <label class="col-md-3 form-control-label control-label col-form-label">{{ translate("txt-program") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static form-control-plaintext">{{ doa.program }}</p></div>
</div>

<div class="form-group row">
    <label class="col-md-3 form-control-label control-label col-form-label">{{ translate("txt-organisation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static form-control-plaintext">{{ doa.organisation }}</p>
    </div>
</div>

<div class="form-group row">
    <label class="col-md-3 form-control-label control-label col-form-label">{{ translate("txt-download-current-program-doa") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static form-control-plaintext">{{ programDoaLink(doa,'download','text') }}</p>
    </div>
</div>

{#<div class="form-group row">#}
    {#<label class="col-md-3 form-control-label control-label col-form-label">{{ translate("txt-render-new-program-doa") }}</label>#}

    {#<div class="col-sm-9">#}
        {#<p class="form-control-static form-control-plaintext">{{ programDoaLink(doa,'render','text') }}</p>#}
    {#</div>#}
{#</div>#}


{{ ztbformelement(form.get('file')) }}
{{ formelement(form.get('csrf')) }}

<div class="form-group row">
    <div class="offset-md-3 col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
