{% do headTitle().append(translate("txt-upload-doa-title")) %}

<h1>{{ translate("txt-upload-doa-for-organisation-%s-for-program-%s")|
    format(organisation, program)|raw }}</h1>

<p class="lead">{{ translate("txt-upload-doa-for-organisation-%s-for-program-%s-explanation")|
    format(affiliation.organisation, program)|raw }}</p>


{{ form().openTag(form)|raw }}

<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-program") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static form-control-plaintext">{{ programLink(program,'view-list') }}</p>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-organisation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static form-control-plaintext">{{ organisation }}</p>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-download-doa") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static form-control-plaintext">{{ translate("txt-download-program-doa-link-text") }}</p>
    </div>
</div>

{{ ztbformelement(form.get('file')) }}
{{ formelement(form.get('csrf')) }}

<div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
