{% do headTitle().append(translate("txt-upload-doa-title")) %}

<h1>{{ translate("txt-upload-doa-for-organisation-%s-for-program-%s")|
    format(organisationService.organisation, program)|raw }}</h1>

<p class="lead">{{ translate("txt-upload-doa-for-organisation-%s-for-program-%s-explanation")|
    format(affiliationService.affiliation.organisation, program)|raw }}</p>


{{ form().openTag(form)|raw }}

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-program") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ programLink(program,'view-list') }}</p>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-organisation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ organisationService.organisation }}</p>
    </div>
</div>

{#<div class="form-group">#}
    {#<label class="col-sm-3 control-label">{{ translate("txt-render-program-doa") }}</label>#}

    {#<div class="col-sm-9">#}
        {#<p class="form-control-static">{{ programDoaLink(null,'render','text', organisationService.organisation, program) }}</p>#}
    {#</div>#}
{#</div>#}

{{ ztbformelement(form.get('file')) }}


<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
