{% do headTitle().append(translate("txt-call-portal")) %}

<h1 class="display-4">{{ call }}</h1>


<ul class="timeline" id="timeline">
    <li class="li {% if call.poOpenDate > now %}complete{% endif %}">
        <div class="timestamp">
            <span class="author"></span>
            <span class="date">{{ call.poOpenDate|date('d-m-Y') }}<span>
        </div>
        <div class="status">
            <h4>PO Open</h4>
        </div>
    </li>
    <li class="li {% if call.poCloseDate > now %}complete{% endif %}">
        <div class="timestamp">
            <span class="author"></span>
            <span class="date">{{ call.poClosedDate|date('d-m-Y') }}</span>
        </div>
        <div class="status">
            <h4>PO Closed</h4>
        </div>
    </li>
    <li class="li {% if call.fppOpenDate > now %}complete{% endif %}">
        <div class="timestamp">
            <span class="author"></span>
            <span class="date">{{ call.fppOpenDate|date('d-m-Y') }}</span>
        </div>
        <div class="status">
            <h4>FPP Open</h4>
        </div>
    </li>
    <li class="li {% if call.fppCloseDate > now %}complete{% endif %}">
        <div class="timestamp">
            <span class="author"></span>
            <span class="date">{{ call.fppCloseDate|date('d-m-Y') }}</span>
        </div>
        <div class="status">
            <h4>FPP Closed</h4>
        </div>
    </li>
</ul>

<div class="row">

    <div class="col-md-6">
        <h2>{{ translate("txt-project-ideas") }}</h2>

        {% for tool in call.tool %}

            {% set myIdeas = ideaService.getEditableIdeaListByToolAndContact(tool, zfcUserIdentity()) %}

            <h2>{{ translate("txt-my-ideas-in-%s")|format(tool) }}</h2>
            {% for idea in ideas %}
                {{ ideaLink(idea,'view','name') }}<br>
            {% endfor %}

            {{ ideaToolLink(tool,'list-idea', 'button') }}
            {{ ideaLink(null, 'new','button', tool) }}
        {% endfor %}
    </div>

    <div class="col-md-6">
        <h2>{{ translate("txt-projects") }}</h2>

        {% for project in projects %}
            {{ projectLink(project,'view-community','name') }}<br>
        {% endfor %}
    </div>
</div>

<h2>{{ translate("txt-pitch") }}</h2>

{% for idea in ideas %}


    {% for session in idea.session %}

        {{ session.schedule }} {{ session.idea }}<br>


    {% endfor %}

{% endfor %}


<style type="text/css">
    .timeline {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .li {
        transition: all 200ms ease-in;
    }

    .timestamp {
        margin-bottom: 20px;
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 100;
    }

    .status {
        padding: 0px 40px;
        display: flex;
        justify-content: center;
        border-top: 2px solid #D6DCE0;
        position: relative;
        transition: all 200ms ease-in;
    }

    .status h4 {
        font-weight: 600;
    }

    .status:before {
        content: "";
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 25px;
        border: 1px solid #ddd;
        position: absolute;
        top: -15px;
        left: 42%;
        transition: all 200ms ease-in;
    }

    .li.complete .status {
        border-top: 2px solid #00a651;
    }

    .li.complete .status:before {
        background-color: #00a651;
        border: none;
        transition: all 200ms ease-in;
    }

    .li.complete .status h4 {
        color: #00a651;
    }

    @media (min-device-width: 320px) and (max-device-width: 700px) {
        .timeline {
            list-style-type: none;
            display: block;
        }

        .li {
            transition: all 200ms ease-in;
            display: flex;
            width: inherit;
        }

        .timestamp {
            width: 100px;
        }

        .status:before {
            left: -8%;
            top: 30%;
            transition: all 200ms ease-in;
        }
    }

</style>