{% if order == criteria %}
    {{ direction == 'desc' ? '<i class="fa fa-sort-alpha-desc"></i>' : (direction == 'asc' ? '<i class="fa fa-sort-alpha-asc"></i>' : '') }}
{% endif %}

{% if arguments %}
    {% if (order == criteria) and (direction == 'desc') %}
        <a href="{{ url(route) }}?{{ arguments }}">{{ text|raw }}</a>
    {% else %}
        <a href="{{ url(route) }}?{{ arguments }}&order={{ criteria }}&direction={{ direction == 'asc' ? 'desc' : 'asc' }}">{{ text|raw }}</a>
    {% endif %}
{% else %}
    {% if (order == criteria) and (direction == 'desc') %}
        <a href="{{ url(route) }}">{{ text|raw }}</a>
    {% else %}
        <a href="{{ url(route) }}?order={{ criteria }}&direction={{ direction == 'asc' ? 'desc' : 'asc' }}">{{ text|raw }}</a>
    {% endif %}
{% endif %}
