{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-funder-%s")|format(funder)) %}

<h1 class="display-4">{{ translate("txt-funder-%s")|format(funder) }} {{ funderLink(funder,'edit','button') }}</h1>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-contact") }}</dt>
    <dd>{{ contactLink(funder.contact,'view-admin','name') }}</dd>
    <dt>{{ translate("txt-country") }}</dt>
    <dd>{{ funder.country }}</dd>
    <dt>{{ translate("txt-position") }}</dt>
    <dd>{{ funder.position }}</dd>
    <dt>{{ translate("txt-show-on-website") }}</dt>
    <dd>{{ translate(funder.getShowOnWebsite(true)) }}</dd>
    <dt>{{ translate("txt-info-office") }}</dt>
    <dd>{{ funder.infoOffice|default(translate("txt-not-provided")) }}</dd>
    <dt>{{ translate("txt-info-public") }}</dt>
    <dd>{{ funder.infoPublic|default(translate("txt-not-provided")) }}</dd>
    {% if funder.website %}
        <dt>{{ translate("txt-website") }}</dt>
        {# show only the first result#}
        <dd><a href="{{ funder.website }}">{{ funder.website }}</a></dd>
    {% endif %}
</dl>