{% do headScript().appendFile('assets/js/jquery.timepicker.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/jquery.slideraccess.js', 'text/javascript') %}
{% do headLink().appendStylesheet('assets/css/jquery.timepicker.css') %}
{% do headLink().appendStylesheet(
'//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css'
) %}


{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set call = form.get('program_entity_call_call') %}

{{ ztbformelement(call.get('id')) }}
{{ ztbformelement(call.get('program')) }}
{{ ztbformelement(call.get('call')) }}
{{ ztbformelement(call.get('poOpenDate')) }}
{{ ztbformelement(call.get('poCloseDate')) }}
{{ ztbformelement(call.get('loiSubmissionDate')) }}
{{ ztbformelement(call.get('fppOpenDate')) }}
{{ ztbformelement(call.get('fppCloseDate')) }}
{{ ztbformelement(call.get('doaSubmissionDate')) }}
{{ ztbformelement(call.get('labelAnnouncementDate')) }}
{{ ztbformelement(call.get('active')) }}
{{ ztbformelement(call.get('doaRequirement')) }}
{{ ztbformelement(call.get('ndaRequirement')) }}
{{ ztbformelement(call.get('loiRequirement')) }}
{{ ztbformelement(call.get('projectReport')) }}


{{ formelement(form.get('csrf')) }}

<div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
        {{ formelement(form.get('submit')) }}
        {{ formelement(form.get('cancel')) }}
    </div>
</div>

<script type="text/javascript">
    $('input[type=datetime]').datetimepicker({
        addSliderAccess: true,
        sliderAccessArgs: {touchonly: false},
        timeFormat: 'HH:mm:ss',
        dateFormat: 'yy-mm-dd'
    });
</script>

{{ form().closeTag()|raw }}