{% do headScript().appendFile('assets/js/jquery.timepicker.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/jquery.slideraccess.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/css.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/htmlmixed.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/javascript.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/xml.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/selection-pointer.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/matchbrackets.js', 'text/javascript') %}
{% do headLink().appendStylesheet('assets/css/codemirror.css') %}
{% do headLink().appendStylesheet('assets/css/jquery.timepicker.css') %}
{% do headLink().appendStylesheet(
    '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css'
) %}


{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set call = form.get('program_entity_call_call') %}

{{ lbs5formelement(call.get('id')) }}
{{ lbs5formelement(call.get('program')) }}
{{ lbs5formelement(call.get('call')) }}
{{ lbs5formelement(call.get('cluster')) }}
{{ lbs5formelement(call.get('projectNumberMask')) }}
{{ lbs5formelement(call.get('instructionText')) }}
{{ lbs5formelement(call.get('poOpenDate')) }}
{{ lbs5formelement(call.get('poCloseDate')) }}
{{ lbs5formelement(call.get('loiSubmissionDate')) }}
{{ lbs5formelement(call.get('fppOpenDate')) }}
{{ lbs5formelement(call.get('fppCloseDate')) }}
{{ lbs5formelement(call.get('doaSubmissionDate')) }}
{{ lbs5formelement(call.get('labelAnnouncementDate')) }}
{{ lbs5formelement(call.get('active')) }}
{{ lbs5formelement(call.get('doaRequirement')) }}
{{ lbs5formelement(call.get('ndaRequirement')) }}
{{ lbs5formelement(call.get('loiRequirement')) }}
{{ lbs5formelement(call.get('projectReport')) }}
{{ lbs5formelement(call.get('callStages')) }}
{{ lbs5formelement(call.get('poHasWorkPackages')) }}
{{ lbs5formelement(call.get('hasOnlineWorkPackages')) }}
{{ lbs5formelement(call.get('challengePerProject')) }}

{{ formelement(form.get('csrf')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ formelement(form.get('submit')) }}
        {% if form.has('delete') %}
            {{ formelement(form.get('delete')) }}
        {% endif %}
        {{ formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

<script type="text/javascript">
    $('input[type=datetime]').datetimepicker({
        addSliderAccess: true,
        sliderAccessArgs: {touchonly: false},
        timeFormat: 'HH:mm:ss',
        dateFormat: 'yy-mm-dd'
    });
    var htmlEditor = CodeMirror.fromTextArea(document.getElementById("html_instruction_text"), {
        mode: "text/html",
        lineNumbers: true,
        selectionPointer: true,
        lineWrapping: true,
        matchBrackets: true
    });
</script>
