{% do form.prepare() %}
{{ form().openTag(form)|raw }}

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-call") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ callLink(callCountry.call,'view-admin','name') }}</p>
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-country") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ countryLink(callCountry.country,'view-admin','name') }}</p>
    </div>
</div>

{% set callCountryForm = form.get('program_entity_call_country') %}

{{ lbs5formelement(callCountryForm.get('dateNationalApplication')) }}
{{ lbs5formelement(callCountryForm.get('dateExpectedFundingDecision')) }}
{{ formelement(form.get('csrf')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
        {% if form.has('delete') %}
            {{ lbs5formelement(form.get('delete')) }}
        {% endif %}
    </div>
</div>

{{ form().closeTag()|raw }}