{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set program = form.get('program_entity_program') %}

{{ lbs5formelement(program.get('id')) }}
{{ lbs5formelement(program.get('program')) }}
{{ lbs5formelement(program.get('number')) }}
{{ lbs5formelement(program.get('cluster')) }}
{{ lbs5formelement(program.get('invoiceMethod')) }}
{{ formelement(form.get('csrf')) }}
<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ formelement(form.get('submit')) }}
        {% if form.has('delete') %}
            {{ formelement(form.get('delete')) }}
        {% endif %}
        {{ formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
