<h1 class="display-4">Annex B to ITEA 2 Frame Agreement</h1>

<br>
{{ contactService.parseFullName(contact) }}<br>
{{ mailAddress.address }}<br>
{{ mailAddress.zipCode }} {{ mailAddress.city }}<br>
{{ mailAddress.country|upper }}
<br>


<h2>Declaration of Acceptance for ITEA 2 Project Partners</h2>

<dl>
    <dt>To be addressed to:</dt>
    <dd>ITEA 2 Board</dd>
    <dd>c/o ITEA 2 Office</dd>
    <dd>High Tech Campus 69 – 3</dd>
    <dd>5656 AG Eindhoven</dd>
    <dd>The Netherlands</dd>
    <dd>Tel.: +31 88 003 6136</dd>
    <dd>Fax: +31 88 003 6130</dd>
</dl>

<p>The undersigned <strong>{{ contactService.parseOrganisation(contact) }}</strong> is
    applicant for an ITEA 2 Label for an ITEA 2 Project.</p>

<p>In case of the award of an ITEA 2 Project with the ITEA 2 Label by the ITEA 2 Board the undersigned accepts and
    acknowledges the rules and regulations for the ITEA 2 Projects laid down in the ITEA 2 Frame Agreement having a date
    of reference 25 November 2005, as being applicable to all ITEA 2 Projects. It is understood, that the undersigned
    will receive the relevant general information related to the execution of the ITEA 2 Programme.</p>
