{% set contactService = contactServiceProxy(contact) %}

<p>The undersigned, duly authorized to sign this Declaration of Non-Disclosure on behalf of
    "{{ contactService.parseOrganisation() }}" hereby declares that "{{ contactService.parseFullName() }}" of
    "{{ contactService.parseOrganisation() }}" is bound to this Declaration of Non-Disclosure. The undersigned
    hereby declares that "{{ contactService.parseOrganisation() }}" is a potential participant in the {{ call }}
    for Projects of {{ call.program.program }} (hereinafter: "{{ call }}").</p>

<p>We give the following undertakings:</p>

<ol>
    <li>The undersigned acknowledges that "{{ contactService.parseFullName() }}" of
        "{{ contactService.parseOrganisation() }}" will obtain access to the {{ call }} "Project
        Outline Preparation Days" as well as access rights to the {{ call }} "Project Idea Tool". The Project Idea
        Tool is accessible through the ITEA website (https://itea3.org/idea).
    </li>
    <li>The undersigned acknowledges that "{{ contactService.parseFullName() }}" of
        "{{ contactService.parseOrganisation() }}" has access to the restricted ITEA
        Community website (https://community.itea3.org/) and that he/she will obtain access rights to the "ITEA Living
        Roadmap" during 2 (two) years after the date of signature. The "ITEA Living Roadmap" is accessible through the
        ITEA
        Community website.
    </li>

    <li>The access rights to the "Project Idea Tool" and "ITEA Living Roadmap" are strictly personal; the undersigned
        will not share the credentials (e.g. username and password) with others.
    </li>

    <li>In this statement, "Confidential Information" shall mean all information obtained via the "ITEA Living Roadmap"
        or obtained during 2 (two) years after the date of signature in connection with the {{ call }} from all the
        organisations involved therein and/or from any of their affiliated companies or any of their representatives,
        together with any analyses, compilations, studies, images, documents or other material written or otherwise
        prepared by ourselves or any of our representatives or advisers which reflects or incorporates such information
        provided that "Confidential Information" shall not include:
        <ol type="a">
            <li>Information or material which at the time of its disclosure is, or which thereafter becomes (otherwise
                than as a result of any act or default by the undersigned or any of its representatives), part of the
                public domain by publication or otherwise and
            </li>
            <li>Information or material of which the undersigned can show that it was in their possession, or in the
                possession of one or more of their representatives, at the time of disclosure and was not acquired
                directly or indirectly, under a confidentiality obligation or in breach of any legal, contractual or
                fiduciary duty on the part of the transferor of such information.
            </li>
        </ol>
    </li>


    <li>During a period of 5 (five) years after the date of signing of this Declaration of Non-Disclosure, the
        undersigned will use the Confidential Information received, exclusively in connection with
        an {{ call.program.program }} project creation, proposal evaluation or project monitoring and will not disclose
        it to any other person unless in accordance with the Article 6 below.
    </li>

    <li>Within "{{ contactService.parseOrganisation() }}" the Confidential Information will be made available on a 'need
        to know' basis only, and distributed solely to those persons directly concerned with
        the {{ call.program.program }} Programme of whom the undersigned has ensured that the obligations set out in
        this Declaration of Non-Disclosure are also
        observed by them
    </li>

    <li>In the event that the undersigned is or becomes obliged to pass on Confidential Information due to a lawful
        order from a court or a public authority, he/she
        <ol type="a">
            <li>Will inform the ITEA Office without delay in writing of this obligation</li>
            <li>Will - insofar as a correspondent court injunction or other legal remedy cannot be procured - only pass
                on the part of the Confidential Information which he/she is legally obliged to pass on and, in addition,
                will make all appropriate efforts to ensure that the Confidential information passed on in this way is
                treated confidentially (on terms substantially similar to this Declaration).
            </li>
        </ol>
    </li>

    <li>This Declaration of Non-Disclosure is subject to the laws of the Netherlands.</li>

    <li>The terms and conditions in this Declaration of Non-Disclosure express and describe Dutch legal concepts in
        English and not in their original Dutch terms; consequently, words, terms and expressions used in this
        Declaration of Non-Disclosure shall be construed and interpreted in accordance with the laws of the Netherlands.
    </li>
</ol>