{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-funder-list")) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{% set filter = form.get('filter') %}

<div class="row">
    <div class="col-md-10">
        <h1>{{ translate("txt-funder-list") }} {{ funderLink(null, 'new','button') }}</h1>

        <div class="row">
            <div class="col-md-6">
                <p class="lead">{{ translate("txt-funder-list-explanation") }}</p>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    {{ formelement(filter.get('search')) }}
                    <div class="input-group-append input-group-btn">
                        {{ formelement(form.get('submit')) }}
                    </div>
                </div>
            </div>
        </div>

        {% if paginator.pageRange > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/funder/list', 'criteria': 'id', 'text': translate("txt-id")} %}</th>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/funder/list', 'criteria': 'contact', 'text': translate("txt-contact")} %}</th>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/funder/list', 'criteria': 'organisation', 'text': translate("txt-organisation")} %}</th>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/funder/list', 'criteria': 'country', 'text': translate("txt-country")} %}</th>
                    <th>{{ translate("txt-position") }}</th>
                    <th>{{ translate("txt-show-on-website") }}</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="7"></td>
                </tr>
                </tfoot>
                <tbody>
                {% for funder in paginator.getCurrentItems() %}
                    <tr>
                        <td><small class="text-muted">{{ funder.id }}</small></td>
                        <td>
                            {{ funderLink(funder,'view', 'name') }} {{ funderLink(funder,'edit', 'icon') }}
                            <a href="mailto:{{ funder.contact.email }}"><i class="fas fa-envelope-o"></i></a>
                        </td>
                        <td>{% if funder.contact.hasOrganisation() %}{{ organisationLink(funder.contact.contactOrganisation.organisation,'view-admin','name') }}{% endif %}</td>
                        <td>{{ countryLink(funder.country,'view-admin','name') }}</td>
                        <td>{{ funder.position }}</td>
                        <td>{% if funder.getShowOnWebsite() %}<i class="fa text-success fa-check"></i>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'application/partial/pagination-control' %}
        {% else %}
            {{ ztbalert().info(translate("txt-no-call-could-be-found"))|raw }}
        {% endif %}
    </div>
    <div class="col-md-2">
        {{ ztbformelement(filter.get('showOnWebsite'), true) }}
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('clear')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

