<h2>{{ translate("txt-files") }}</h2>
<p>{{ translate("txt-drop-files-explaination") }}</p>
<div id="idea-panels">
{% if orderedIdeas|length > 0 %}
    {% set itemsPerRow = 3 %}
    {% for idea in orderedIdeas %}
        {% if loop.first or loop.index0 is divisible by(itemsPerRow)  %}
            <div class="row">
        {% endif %}
        <div class="col-md-{{ 12/itemsPerRow }}">
            <div class="panel panel-default">
                <div class="panel-heading">{{ ideaLink(idea, 'view-admin') }}</div>
                <div class="panel-body">
                    <div data-files-url="{{ url('zfcadmin/session/idea-files', {'id': idea.id}) }}"
                         data-upload-url="{{ url('zfcadmin/session/upload-document', {'id': idea.id}) }}"
                         class="well drop">
                        {{ translate("txt-drop-files-here") }}
                    </div>
                    <div class="files">
                        {% if idea.document is not empty %}
                        <table class="table table-condensed table-striped">
                            <tbody>
                            {% for document in idea.document %}
                                <tr>
                                    <td>{{ document.parseFilename() }}</td>
                                    <td>{{ document.size|parse_size }}</td>
                                    <td>
                                        {{ ideaDocumentLink(document,'download', 'icon') }}
                                        {{ ideaDocumentLink(document,'delete', 'icon') }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if loop.last or loop.index is divisible by(itemsPerRow)  %}
            </div>
        {% endif %}
    {% endfor %}
    {{ callSessionLink(session, 'download', 'button') }}
{% else %}
    {{ ztbalert().info(translate("txt-no-ideas-found"))|raw }}
{% endif %}
</div>

<script>
    $(function(){
        var $template = $('#files-template');
        $('.drop').each(function(){
            var $self = $(this);
            $self.dropzone({
                uploadMultiple: true,
                url: $self.data('upload-url'),
                success: function(){
                    $self.find('.dz-preview').fadeOut(function(){ $(this).remove(); });
                    $.get($self.data('files-url'), function(data){
                        var html = Mustache.render($template.html(), data);
                        $self.siblings('.files').html(html);
                    });
                }
            });
        });
        $('#idea-panels').on('click', '.btn-del', function(e){
            e.preventDefault();
            var $self = $(this);
            $.get($self.data('delete-url'), function(){
                $self.closest('tr').fadeOut(function(){ $(this).remove(); });
            });
        });
    });
</script>

{% verbatim %}
<template id="files-template">
    <table class="table table-condensed table-striped">
        <tbody>
        <!--{{#files}}-->
            <tr>
                <td>{{name}}</td>
                <td>{{{size}}}</td>
                <td>
                <a href="{{download-url}}"><i class="fa fa-download"></i></a>
                <a class="btn-del" data-delete-url="{{delete-url}}" href="/"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
         <!--{{/files}}-->
        </tbody>
    </table>
</template>
{% endverbatim %}

