<h2>{{ translate("txt-participants") }}</h2>

{% if session.hasParticipants %}
    <table class="table table-contact table-striped table-hover table-sm">
        <thead>
        <tr>
            <th></th>
            <th>{{ translate("txt-name") }}</th>
            <th>{{ translate("txt-email") }}</th>
            <th>{{ translate("txt-organisation") }}</th>
            <th>{{ translate("txt-country") }}</th>
            <th>{{ translate("txt-date-created") }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="6"></td>
        </tr>
        </tfoot>
        <tbody>
        {% for participant in session.participant %}
            <tr>
                <td><small class="text-muted">{{ participant.id }}</small></td>
                <td>{{ contactLink(participant.contact,'view-admin','name') }}</td>
                <td>{{ contactLink(participant.contact,'view-admin','email') }}</td>
                <td>{% if participant.contact.hasOrganisation %}{{ organisationLink(participant.contact.contactOrganisation.organisation,'view-admin','name') }}{% endif %}</td>
                <td>{% if participant.contact.hasOrganisation %}{{ countryLink(participant.contact.contactOrganisation.organisation.country,'view-admin','name') }}{% endif %}</td>
                <td>{{ participant.dateCreated|string_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ ztbalert().info(translate("txt-no-participants-for-this-program-call-session"))|raw }}
{% endif %}

{{ callSessionLink(session,'edit-participants','button') }}