{% do headScript().appendFile("//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.2/highlight.min.js",'text/javascript') %}
{% do headLink().appendStylesheet("//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.2/styles/github-gist.min.css") %}
{% do inlineScript().appendScript("hljs.initHighlightingOnLoad();",'text/javascript') %}


<h2>{{ translate("txt-call-information") }}</h2>
<dl class="dl-horizontal">
    <dt>{{ translate("txt-call-id") }}</dt>
    <dd>{{ call.id }}</dd>
    <dt>{{ translate("txt-call") }}</dt>
    <dd>{{ call }}</dd>
    <dt>{{ translate("txt-program") }}</dt>
    <dd>{{ programLink(call.program,'view','name') }}</dd>

    <dt>{{ translate("txt-clusters") }}</dt>
    {% for cluster in call.cluster %}
        <dd>{{ clusterLink(cluster,'view','name') }}</dd>
    {% else %}
        <dd>{{ translate("txt-no-clusters-connected") }}</dd>
    {% endfor %}

    <dt>{{ translate("txt-project-number-mask") }}</dt>
    <dd><span class="text-monospace">{{ call.projectNumberMask }}</span></dd>


    <dt>{{ translate("txt-po-open-date") }}</dt>
    <dd>{{ call.poOpenDate|string_date }} ({{ call.poOpenDate|date('d-m-Y H:i:s') }})</dd>
    <dt>{{ translate("txt-po-close-date") }}</dt>
    <dd>{{ call.poCloseDate|string_date }} ({{ call.poCloseDate|date('d-m-Y H:i:s') }})</dd>
    {% if call.loiSubmissionDate %}
        <dt>{{ translate("txt-loi-submission-deadline") }}</dt>
        <dd>{{ call.loiSubmissionDate|string_date }} ({{ call.loiSubmissionDate|date('d-m-Y H:i:s') }})</dd>
    {% endif %}
    <dt>{{ translate("txt-fpp-open-date") }}</dt>
    <dd>{{ call.fppOpenDate|string_date }} ({{ call.fppOpenDate|date('d-m-Y H:i:s') }})</dd>
    <dt>{{ translate("txt-fpp-close-date") }}</dt>
    <dd>{{ call.fppCloseDate|string_date }} ({{ call.fppCloseDate|date('d-m-Y H:i:s') }})</dd>
    {% if call.doaSubmissionDate %}
        <dt>{{ translate("txt-doa-submission-deadline") }}</dt>
        <dd>{{ call.doaSubmissionDate|string_date }} ({{ call.doaSubmissionDate|date('d-m-Y H:i:s') }})</dd>
    {% endif %}
    {% if call.labelAnnouncementDate %}
        <dt>{{ translate("txt-label-announcement-date") }}</dt>
        <dd>{{ call.labelAnnouncementDate|string_date }} ({{ call.labelAnnouncementDate|date('d-m-Y H:i:s') }})</dd>
    {% endif %}
    <dt>{{ translate("txt-active") }}</dt>
    <dd>{{ translate(call.getActive(true)) }}</dd>
    {% if call.hasIdeaTool() %}
        <dt>{{ translate("txt-idea-tool") }}</dt>
        <dd>{{ ideaToolLink(call.ideaTool,'view-admin','name') }}</dd>
    {% endif %}
    <dt>{{ translate("txt-doa-requirement") }}</dt>
    <dd>{{ translate(call.getDoaRequirement(true)) }}</dd>
    <dt>{{ translate("txt-nda-requirement") }}</dt>
    <dd>{{ translate(call.getNdaRequirement(true)) }}</dd>
    <dt>{{ translate("txt-loi-requirement") }}</dt>
    <dd>{{ translate(call.getLoiRequirement(true)) }}</dd>
    <dt>{{ translate("txt-project-report") }}</dt>
    <dd>{{ translate(call.getProjectReport(true)) }}</dd>
    <dt>{{ translate("txt-call-challenge-per-project") }}</dt>
    <dd>{{ translate(call.getChallengePerProjectText()) }}</dd>

    <dt>{{ translate("txt-call-stages") }}</dt>
    <dd>{{ translate(call.getCallStagesText()) }}</dd>
    <dt>{{ translate("txt-po-has-work-packages") }}</dt>
    <dd>{{ translate(call.getPoHasWorkPackagesText()) }}</dd>
    <dt>{{ translate("txt-has-online-work-packages") }}</dt>
    <dd>{{ translate(call.getHasOnlineWorkPackagesText()) }}</dd>

    <dt>{{ translate("txt-challenges") }}</dt>
    {% for challenge in generalService.findChallengesByCall(call) %}
        <dd>{{ challengeLink(challenge,'view-admin','name') }}</dd>
    {% else %}
        <dd>{{ translate("txt-no-challenges-could-be-found") }}</dd>
    {% endfor %}
</dl>

{% if call.hasInstructionText %}
    <h2>{{ translate("txt-instruction-text") }}</h2>
    <pre><code class="html">{{ call.instructionText }}</code></pre>
{% endif %}