{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-program-%s")|format(program)) %}

<h1>{{ translate("txt-program-%s")|format(program) }} {{ programLink(program,'edit','button') }} {{ programLink(program,'export-size','button') }}</h1>

<h2>{{ translate("txt-program-information") }}</h2>
<dl class="dl-horizontal">
    <dt>{{ translate("txt-program-id") }}</dt>
    <dd>{{ program.id }}</dd>

    <dt>{{ translate("txt-program") }}</dt>
    <dd>{{ program.program }}</dd>

    <dt>{{ translate("txt-program-number") }}</dt>
    <dd>{{ program.number }}</dd>

    <dt>{{ translate("txt-invoice-method") }}</dt>
    {% for method in program.invoiceMethod %}
        <dd>{{ method }}</dd>
    {% else %}
        <dd>{{ translate("txt-no-invoice-method-found") }}</dd>
    {% endfor %}

    <dt>{{ translate("txt-cluster") }}</dt>
    {% for cluster in program.cluster %}
        <dd>{{ clusterLink(cluster, 'view','name') }}</dd>
    {% else %}
        <dd>{{ translate("txt-no-cluster-could-be-found") }}</dd>
    {% endfor %}

    <dt>{{ translate("txt-amount-of-calls") }}</dt>
    <dd>{{ program.call.count }}</dd>

    <dt>{{ translate("txt-program-eureka-export") }}</dt>
    <dd><a href="{{ url('zfcadmin/project/export/program',{'id': program.id}) }}"><i
                    class="fas fa-exchange-alt"></i></a>
    </dd>
</dl>

{% if not program.call.isEmpty() %}
    <h2>{{ translate("txt-overview-of-calls") }}</h2>

    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-call-id") }}</th>
            <th>{{ translate("txt-call-name") }}</th>
            <th>{{ translate("txt-call-po-open") }}</th>
            <th>{{ translate("txt-call-po-close") }}</th>
            <th>{{ translate("txt-call-fpp-open") }}</th>
            <th>{{ translate("txt-call-fpp-close") }}</th>
            <th>{{ translate("txt-clusters") }}</th>
            <th>{{ translate("txt-#projects") }}</th>
            <th>{{ translate("txt-export-size") }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="9"></td>
        </tr>
        </tfoot>
        <tbody>
        {% for call in program.call %}
            <tr>
                <td><small class="text-muted">{{ call.id }}</small></td>
                <td>{{ callLink(call,'view-admin','name') }} {{ callLink(call,'edit', 'icon') }}</td>
                <td>{% if call.poOpenDate %}{{ call.poOpenDate|string_date }}{% endif %}</td>
                <td>{% if call.poCloseDate %}{{ call.poCloseDate|string_date }}{% endif %}</td>
                <td>{% if call.fppOpenDate %}{{ call.fppOpenDate|string_date }}{% endif %}</td>
                <td>{% if call.fppCloseDate %}{{ call.fppCloseDate|string_date }}{% endif %}</td>
                <td>{% for cluster in call.cluster %}{{ clusterLink(cluster,'view') }} {% if not loop.last %} &middot; {% endif %}{% endfor %}</td>
                <td>{{ call.project.count }}</td>
                <td>{{ callLink(call,'export-size','icon') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}