<h1>{{ translate("txt-program-list") }}</h1>
{% if  programs|length > 0 %}

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>{{ translate("txt-program-id") }}</th>
            <th>{{ translate("txt-program-name") }}</th>
            <th>{{ translate("txt-amount-of-calls") }}</th>
        </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
        {% for program in programs %}
            <tr>
                <td>{{ program.id }}</td>
                <td>{{ programLink(program,'view', 'name') }}</td>
                <td>{{ program.call.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ ztbalert().info(translate("txt-no-programs-found"))|raw }}
{% endif %}