<h1>{{ translate("txt-program-call-list") }} {{ callLink(null,'new', 'button') }}</h1>

<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>{{ translate("txt-call-name") }}</th>
        <th>{{ translate("txt-call-po-open") }}</th>
        <th>{{ translate("txt-call-po-closed") }}</th>
        <th>{{ translate("txt-call-po-grace") }}</th>
        <th>{{ translate("txt-call-fpp-open") }}</th>
        <th>{{ translate("txt-call-fpp-closed") }}</th>
        <th>{{ translate("txt-call-fpp-grace") }}</th>
        <th>{{ translate("txt-doa-requirement") }}</th>
        <th>{{ translate("txt-amount-of-projects") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for call in entities %}
        <tr>
            <td>{{ call }} {{ callLink(call,'edit','icon') }}</td>
            <td>{% if call.poOpenDate %}{{ call.poOpenDate|string_date }}{% endif %}</td>
            <td>{% if call.poCloseDate %}{{ call.poCloseDate|string_date }}{% endif %}</td>
            <td>{% if call.poGraceDate %}{{ call.poGraceDate|string_date }}{% endif %}</td>
            <td>{% if call.fppOpenDate %}{{ call.fppOpenDate|string_date }}{% endif %}</td>
            <td>{% if call.fppCloseDate %}{{ call.fppCloseDate|string_date }}{% endif %}</td>
            <td>{% if call.fppGraceDate %}{{ call.fppGraceDate|string_date }}{% endif %}</td>
            <td>{{ translate(call.doaRequirement(true)) }}</td>
            <td>{{ call.project.count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
