<h2>{{ translate("txt-list-funder") }}</h2>

{% for funder in funder if funder.showOnWebsite is constant("\\Program\\Entity\\Funder::SHOW_ON_WEBSITE") %}


    <div class="thumbnail">
        {{ contactPhoto(funder.contact) }}

        <div class="caption">

            {% set contactService = contactServiceProxy(funder.contact) %}

            <h4>{{ contactService.parseFullName }}</h4>

            <dl>
                <dt>{{ translate("txt-address") }}</dt>

                {% set organisationService = organisationServiceProxy(funder.contact.contactOrganisation.organisation) %}

                <dd>{{ organisationService.parseOrganisationWithBranch(funder.contact.contactOrganisation.branch) }}</dd>
                <dd>{{ contactService.getVisitAddress().address.address }}</dd>
                <dd>{{ contactService.getVisitAddress().address.zipCode }} {{ contactService.getVisitAddress().address.city }}</dd>
                <dd>{{ contactService.getVisitAddress().address.country }}</dd>

                <dt>{{ translate("txt-phone") }}</dt>
                <dd>{{ contactService.getDirectPhone() }}</dd>

                <dt>{{ translate("txt-website") }}</dt>
                {# show only the first result#}
                <dd>{{ organisationService.organisation.web[0]|raw }}</dd>

                <dt>{{ translate("txt-extra-information") }}</dt>
                <dd>{{ funder.infoPublic }}</dd>
            </dl>
        </div>
    </div>
    <br>
{% endfor %}