{% for funder in funder|filter(funder => funder.showOnWebsite is constant("\\Program\\Entity\\Funder::SHOW_ON_WEBSITE")) -%}

    {% if loop.first %}
        <h2>{{ translate("txt-list-funder") }}</h2>
    {% endif %}

    <div class="bg-light p-3">
        <h3>{{ funder.contact.parseFullName }}</h3>

        <div class="row">
            <div class="col-md-3">
                {{ contactPhoto(funder.contact, 300) }}
            </div>
            <div class="col-md-9">
                <dl>
                    <dt>{{ translate("txt-address") }}</dt>

                    <dd>{{ contactService.parseOrganisation(funder.contact) }}</dd>
                    <dd>{{ contactService.getVisitAddress(funder.contact) }}</dd>
                    <dd>{{ contactService.getVisitAddress(funder.contact).zipCode }} {{ contactService.getVisitAddress(funder.contact).city }}</dd>
                    <dd>{{ contactService.getVisitAddress(funder.contact).country }}</dd>
                    <dd><a href="{{ contact.email }}">{{ contact.email }}</a></dd>

                    <dt>{{ translate("txt-phone") }}</dt>
                    <dd>{{ contactService.getDirectPhone(funder.contact) }}</dd>

                    {% if funder.website %}
                        <dt>{{ translate("txt-website") }}</dt>

                        {% set website = funder.website|split('|') %}

                        <dd><a href="{{ website[0] }}">{% if website[1] %}{{ website[1] }}{% else %}{{ website[0] }}{% endif %}</a></dd>
                    {% endif %}

                    <dt>{{ translate("txt-extra-information") }}</dt>
                    <dd>{{ funder.infoPublic|nl2br }}</dd>
                </dl>
            </div>
        </div>
    </div>
{% endfor %}
