<h1>{{ translate("txt-program-list") }} {{ programLink(null,'new', 'button') }}</h1>

<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>{{ translate("txt-program-name") }}</th>
        <th>{{ translate("txt-number") }}</th>
        <th>{{ translate("txt-amount-of-calls") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for program in entities %}
        <tr>
            <td>{{ program }} {{ programLink(program,'edit','icon') }}</td>
            <td>{{ program.number }}</td>
            <td>{{ program.call.count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
